body {
	margin: 0px;
}
#head {
	width: 100%;
	background: #ACA0DE url('images/head_shadow.png') repeat-x bottom;
	height: 60px;
	border-bottom: 2px solid #9E81CB;
}
#topnav {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0px;
}
#logo {
	width: 375px;
	height: 55px;
	background: url('images/logo.png') no-repeat center;
	position: absolute;
	top: 0px;
	left: 0px;
}
#buttons {
	position: absolute;
	top: 4px;
	right: 10px;
}
#nav {
	width: 310px;
	height: 60px;
	margin: 0 auto;
}
.nav_option {
	width: 100px;
	padding-top: 20px;
	height: 40px;
	vertical-align: center;
	display: inline-block;
	font-family: Arial Rounded MT Bold;
	color: #583083;
	text-align: center;
	text-decoration: none;
}
.nav_option:hover {
	background: rgba(0, 0, 0, 0.05);
}
#workspace {
	width: 100%;
	height: 100%;
	background: #E6EDF7 url('images/workbook_shadow.png') no-repeat center top;
	border-top: 1px solid #fff;
}
#side1 {
	max-width: 50%;
	min-width: 400px;
	float: left;
	position: relative;
	height: 100%;
}
#student_search {
	width: 282px;
	height: 60px;
	background: url('images/grading_search.png') no-repeat center;
	position: absolute;
	top: 0px;
	right: 20px;
}
#arrow_right {
	width: 76px;
	height: 122px;
	background: url('images/arrow_right.png') no-repeat center;
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 20px;
	margin-top: -66px;
}
#arrow_left {
	width: 76px;
	height: 122px;
	background: url('images/arrow_left.png') no-repeat center;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 0px;
	margin-top: -66px;
}
#student_search {
	width: 282px;
	height: 60px;
	background: url('images/grading_search.png') no-repeat center;
	position: absolute;
	top: 0px;
	right: 20px;
	z-index: 2;
}
#student_search #student_select {
	position: absolute;
	top: 15px;
	right: 20px;
}
#student_search #lesson_select {
	position: absolute;
	top: 15px;
	left: 20px;
}
#side2 {
	max-width: 50%;
	min-width: 400px;
	float: right;
	height: 100%;
	overflow-y: scroll;
	position: relative;
}
#workbook1 {
	margin: 20px;
	margin-top: 0px;
	padding: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100%;
	overflow-y: scroll;
}
#workbook2 {
	font-family: Arial Rounded MT Bold;
	color: #2f2f2f;
	margin-top: 50px;
	margin: 20px;
}
#workbook2 #content .feedback {
	display: none;
}