<div id="new_section_div">
	<div class="table_head">
		<h1>New class</h1>
	</div>
	<div class="table_body">
		<p>Create a new class here. When students create their own accounts to login, <strong>they will use the class code you enter below to enroll in your class</strong>.</p>

		<%= render 'form' %>
	</div>
</div>
