<h1>New class</h1>
<p>Create a new class here. When students create their own accounts to login, <strong>they will use the class code you enter below to enroll in your class</strong>.</p>

<%= render 'form' %>

<%= link_to 'Back', :back %>
