<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>
			A new message sent from PrimaLingua.net...<br />
			<strong><%= @name %></strong><br />
			from <%= @school %> in <%= @location %>
		</p>
		<p>~~~~~~~~~</p>
		<p><%= @msg %></p>
	</body>
</html>