<% content_for :page_script do %>
<script type="text/javascript">
	$(document).ready(function() {
		resizeWindow();
	});
	window.onresize = function() {
		resizeWindow();
	}
	function resizeWindow() {
		var num = window.innerHeight;
		var middleHeight = window.innerHeight - (document.getElementById('head').offsetHeight + 16) + 15;
		var middle = document.getElementById('workspace');
		$(middle).css("height", middleHeight);
	}
</script>
<% end %>
<div id="grading_area" class="half_width float_left">
	<div id="student_search">
		<a href="#" onClick="changeStudent(1);" id="arrow_right"></a>
		<a href="#" onClick="changeStudent(-1);" id="arrow_left"></a>
		<select id="student_select" onchange="getLessonPlan();">
			<option value="1">Colin Roberts</option>
			<option value="2">Brandon Jackson-Shorts</option>
			<option value="3">John Ghallagher</option>
			<option value="4">BC Angevine</option>
			<option value="5">Margaret Roberts</option>
			<option value="6">Douglas Roberts</option>
		<select>
	</div>

	

	<div id="student_workbook">
		<%= @lesson.content.gsub("\\r\\n", "").html_safe %>
	</div>
</div>


<div id="teacher_guide_workbook" class="half_width float_left">
	<h2>Teachers' guide here</h2>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	<br />
	<br />
	<br />

	<br />
	<br />

	<br /><br />
	<br />

	<br />
	<br />
	<br />

	<br />
	<br />
	<br />

	<br />
	<br />

	<br />
	<br />

	</div>

<br class="clear_float" />