<% content_for :page_script do %>
<script type="text/javascript">
$(document).on("ready", function() {
	setTimelineHeight(<%= current_teacher.premium %>);
	$(".drawing").each(function() {
		$(document).trigger("drawing:init", $(this).attr("id"));
	});
});
$(document).on("drawing:init", function(event, id) {
	var txt = $("#"+id).data("default_text");
	var im = $("#"+id).data("default_img");
	initDrawingBG($("#"+id), txt, im);
});
</script>
<% end %>


<div id="workbook" class="full_width">
	<% unless flash[:notice].nil? %>
		<p class="flash_notice"><%= flash[:notice]%></p>
	<% end %>
	<% unless flash[:error].nil? %>
		<p class="flash_error"><%= flash[:error] %></p>
	<% end %>

	<%= @lesson.display_completed_lesson %>
</div>