<div id="teacher_class_overview">
	<% if @sections.empty? %>
		<h1>Welcome!</h1>
		<p>Welcome to your new teacher account on PrimaLingua.net.<br />To get started, create a new class.</p>
		<br />
	<% else %>
		<div>
			<%= render partial: "sections/preview", collection: @sections, as: :section %>
		</div>
	<% end %>
	<div>
		<%= link_to new_teacher_section_path(@teacher) do %>
			<div class="workspace_button">
				New Class
			</div>
		<% end %>
	</div>
</div>
<div id="teacher_account_settings">
	<div id="teacher_settings">
		<div class="table_head">
			<h1>Account Settings</h1>
		</div>
		<div class="table_body">
			<%= render "/teachers/registrations/form" %>
		</div>
	</div>
</div>