<div id="teacher_class_overview">
	<div>
		<%= render partial: "sections/preview", collection: @sections, as: :section %>
	</div>
	<div>
		<%= link_to new_teacher_section_path(@teacher) do %>
			<div class="workspace_button">
				New Class
			</div>
		<% end %>
	</div>
</div>
<div id="teacher_account_settings">
	<div id="teacher_settings">
		<h1>Account Settings</h1>
		<%= render "/teachers/registrations/form" %>
	</div>
</div>