<div id="resource_container">
	<% Resource.content_types.each do |ct| %>
		<div class="resource_section">
			<h2><%= image_tag "workspace/"+ct+"_icon.png" %><%= " "+ct %></h2>
			<div class="resource_border"></div>
			<div class="resource_pad">
				<% resources.map{|r| (r.content_type == ct) ? r : nil}.each do |r| %>
					<% unless r.nil? %>
						<%= render partial: "resources/#{r.content_type}_item", locals: {resource: r} %>
					<% end %>
				<% end %>
			</div>
		</div>	
	<% end %>
</div>
