<%= render "layouts/about_nav" %>

<div class="about_content">
	<h1>Comparative Language Course</h1>
	<p>This language course has been designed for students to take before they begin the formal study of a second language. It is a preparatory course in a world and classical language program but can be taught in conjunction with language arts classes. It is designed to be either a one or two year course for middle school students. Students will learn English grammar and compare it to grammatical structures that they will encounter in their study of a foreign language. The focus is on grammatical structures and linguistic patterns that are common to many world languages. They will have an understanding of linguistic terms, a strong foundation in derivatives across many languages, an appreciation of the cultural aspect of language, and knowledge of the historical development of language groups.</p>

	<p>The need for this course arose from a problem in our world language classrooms. When students begin the formal study of a second language either at the middle or the high school level, we are asking them to do two difficult things:</p>

	<ol>
		<li>to use what they know about their own language, English. The problem is they do not know the structure of their own language well enough to use it as a starting block.<br />
			<em>For example: a student is given the present tense to memorize in French but cannot identify what the present tense is in English.</em>
		</li>
		<li>to consider grammatical structures that have absolutely nothing to do with their own language.<br />
			<em>For example: a student is told that the adjective modifying</em> la casa <em>must also be feminine, and the student has never had to consider either the gender of an object or the agreement of an adjective.</em>
		</li>
	</ol>

	<p>In this course the students see the difference between a highly inflected language, such as Latin, and a language with few inflections, such as English, and compare many other languages to these patterns. Which languages use articles, and from where did they come? Which languages need to use pronouns when conjugating verbs, and why? What is the formula for creating an interrogative or negative form of a verb in a certain language? What common endings does a language use to change the part of speech of a word?  Students are challenged to examine changes in languages from one generation to another and from one region to another and to create theories based on cultural and historical developments. At the end of this course they are well versed in the language of language study.</p>
</div>
<br class="clearFloat" />