<%= render "layouts/about_nav" %>

<div class="about_content">
	<h1>Goals</h1>
	<p>This course will teach English grammar and compare it to grammatical structures that students will encounter in their study of a world or classical language. The students will have an understanding of linguistic terms, a strong foundation in derivatives across many languages, an appreciation of the cultural aspect of language, and knowledge of the historical development of language groups. The teacher’s manual will provide teachers with the lessons, activities, and projects to be used in the course. The student workbook includes all of the assignments to follow up from the lessons.</p>

	<p>Typical rotation survey courses can only provide a bare minimum of information about several different languages, with an emphasis on simple vocabulary and basic phrases. Prima Lingua is different. Students look at language as a whole, learning about language structure by drawing comparisons across languages.</p>
	<p>For example, instead of learning how to count to ten in Spanish, then French, then German, Prima Lingua students learn how to count in them all at the same time and then compare them linguistically, look for patterns, and make observations about the ways in which languages are connected.</p>
</div>
<br class="clearFloat" />