<%= stylesheet_link_tag "about" %>
<%= render "layouts/about_nav" %>

<h1>Prima Lingua's history</h1>
<h2>A vision of engaging language learning for 15+ years</h2>

<p>Prima Lingua has been taught with great success for more than 15 years, and Prima Lingua students have gone on to win top prizes in national foreign language competitions.</p>

<p>The course was created by Margaret Roberts, a nationally recognized Latin and Linguistics teacher who found that many of her incoming students were woefully unprepared for learning a foreign language, primarily because of their poor understanding of the grammatical underpinnings of our own English language. She found that before she could begin teaching her students Latin, she had to give them a better grasp of how all languages work — the generic basics of grammar, syntax, derivatives and the like. Only then were they ready to begin understanding what sets most foreign languages apart from English — such factors as gender, adjective-noun agreement, and word order. She also found that her students learned better when they had an awareness of the historical relationships between languages and the social contexts in which they arise. She also knew that students learn best when they’re having fun.</p>

<p>Ms. Roberts formalized the program that would become Prima Lingua at the prestigious Springside School in suburban Philadelphia some 15 years ago. Encouraged by the results, she turned her own classroom course into a workbook and teacher’s manual. As the word spread among her fellow foreign language teachers, the program was picked up by other schools.</p>

<br class="clearFloat" />