<% content_for :head do %>
<%= stylesheet_link_tag "about" %>
<% end %> 

<%= render "layouts/about_nav" %>

<h1>How Prima Lingua fits into your curriculum</h1>
<p>
	<ul>
		<li>Prima Lingua can replace the traditional rotation course in which students study several languages for a few weeks apiece prior to more formal study of a single foreign language.</li>
		<li>Schools without such survey courses can incorporate Prima Lingua into their language arts program as a preparation for the first year of foreign language study.</li>
		<li>Prima Lingua can also be incorporated into social studies and world culture courses.</li>
	</ul>
</p>

<p>Typical rotation survey courses can only provide a bare minimum of information about several different languages, with an emphasis on simple vocabulary and basic phrases. Prima Lingua is different. Students look at language as a whole, learning about language structure by drawing comparisons across languages.</p>

<p>For example, instead of learning how to count to ten in Spanish, then French, then German, Prima Lingua students learn how to count in them all at the same time and then how to compare them linguistically, how to look for patterns, and how to make observations about the ways in which languages are connected.</p>

<br class="clearFloat" />