<% content_for :head do %>
<%= stylesheet_link_tag "about" %>
<% end %> 

<%= render "layouts/about_nav" %>

<h1>Prima Lingua</h1>
<h2>an introduction to the study of foreign languages</h2>

<p>Prima Lingua is a preparatory course designed for students who are about to begin their first year of foreign language study.</p>

<p>Prima Lingua focuses on two main goals:
	<ul>
		<li><strong>Familiarizing students with key grammatical concepts that English shares with other languages</strong> and comparing these structures.</li>
		<li><strong>Introducing grammatical elements that are not present in English</strong> but that students will encounter when they begin foreign language study. These include gender, agreement of adjective and noun, and the importance of inflection, or word endings, in many foreign languages.</li>
	</ul>
</p>

<br />

<p>Prima Lingua also gives students an understanding of linguistic terms, a strong foundation in derivatives across many languages, an appreciation of the cultural aspect of language, and knowledge of the historical development of language groups. They look at linguistic examples mostly in French, Spanish, Italian, German, Latin, Greek, and English.</p>

<p><strong>At the end of this course students are well versed in the language of language study.</strong></p>

<p>Course materials include:
	<ul>
		<li>165-page student workbook</li>
		<li>teacher's manual</li>
		<li>customizable online games and other activities available by password at this website, PrimaLingua.net.</li>
	</ul>
</p>

<br class="clearFloat" />