<% content_for :head do %>
<%= stylesheet_link_tag "about" %>
<% end %> 

<%= render "layouts/about_nav" %>

<div class="about_content">
	<h1 class="course_header">Prima Lingua</h1>
	<h3 class="course_subheader">an introduction to the study of world and classical languages</h3>

	<p>Prima Lingua is a preparatory course designed for students who are about to begin their first year of language study.</p>

	<p>Prima Lingua focuses on two main goals:
		<ul>
			<li><strong>Familiarizing students with key grammatical concepts that English shares with other languages</strong> and comparing these structures.</li>
			<li><strong>Introducing grammatical elements that are not present in English</strong> but that students will encounter when they begin their study of a second language. These include gender, agreement of adjective and noun, and the importance of inflection, or word endings, in many foreign languages.</li>
		</ul>
	</p>

	<p>Prima Lingua also gives students an understanding of linguistic terms, a strong foundation in derivatives across many languages, an appreciation of the cultural aspect of language, and knowledge of the historical development of language groups. They look at linguistic examples mostly in French, Spanish, Italian, German, Latin, Greek, and English and draw connections to Asian languages.</p>

	<p><strong>At the end of this course students are well versed in the language of language study.</strong></p>

	<p>Course materials include:
		<ul>
			<li>online student workbook</li>
			<li>lesson plans for teacher</li>
			<li>customizable online games and activities available through LinguaZone.com</li>
		</ul>
	</p>
</div>
<br class="clearFloat" />