<%= render "layouts/about_nav" %>

<div class="about_content">
	<h1>Requirements</h1>
	<ul>
		<li>Teachers should have a background in at least one language other than English.</li>
		<li>Basic Latin skills are necessary.</li>
		<li>Basic skills in linguistics are helpful.</li>
		<li>If a teacher has not had a background in Latin or linguistics, attendance at a Prima Lingua training workshop is highly recommended.</li>
		<li>For schools using the hard copy of the workbook, internet access is still necessary for the teacher to access lesson plans.</li>
	</ul>
</div>
<br class="clearFloat" />