<%= stylesheet_link_tag "about" %>
<%= render "layouts/about_nav" %>

<div>
	<h1>What's in Prima Lingua?</h1>
	<p>The Prima Lingua course includes on-the-page lessons and activities in the 165-page Prima Lingua student workbook (with accompanying teacher's manual), as well as online games available through password-protected access to PrimaLingua.net's <%= link_to "Students", root_url %> section.</p>

	<p>Prima Lingua students learn English grammar and compare it to grammatical structures they will encounter in their study of a foreign language. The focus is on grammatical structures and linguistic patterns that are common to many foreign languages.</p>

	<p>The course materials cover a wide range of language topics, including:</p>

	<p>General language principles that apply to most foreign languages<br />
	  - Inflection<br />
	  - Word order<br />
	  - Gender<br />
	  - Noun-adjective agreement and placement<br />
	  - Conjugations
	</p>

	<p>Connections between languages<br />
	  - Derivatives<br />
	  - Stems/roots<br />
	  - Prefixes/suffixes
	</p>

	<p>Comparison of words in different languages<br />
	  - Linguistic sound groups (dental, labial, etc.)<br />
	  - Voiced and unvoiced
	</p>

	<p>Development of languages<br />
	  - Language families<br />
	  - Evolution of and change in languages
	</p>
</div>

<br class="clearFloat" />