<% content_for :head do %>
<%= stylesheet_link_tag "about" %>
<% end %> 

<%= render "layouts/about_nav" %>

<h1>About#what_is</h1>
<p>Find me in app/views/about/what_is.html.erb</p>

<br class="clearFloat" />