<%= render "layouts/about_nav" %>

<div class="about_content">
	<h1>What is included</h1>
	<ul>
		<li>teacher accounts and student accounts to website</li>
		<li>teacher account includes:</li>
		<ul>
			<li>daily lessons plans, lessons for two years of classes, 5x/week</li>
			<li>online workbook</li>
			<li>answer key</li>
			<li>online support from a community of Prima Lingua teachers and schools</li>
		</ul>
		<li>student account includes:</li>
		<ul>
			<li>online workbook, activities, games, and resources</li>
			<li>students complete all assignments online</li>
			<li>students receive notifications when assignments are graded or incomplete</li>
		</ul>
		<li>hardcopy of workbook also available</li>
		<li>training workshops for teachers</li>
	</ul>
</div>
<br class="clearFloat" />