<%= render "layouts/about_nav" %>

<div class="about_content">
	<h1>Who uses Prima Lingua?</h1>
	<ul>
		<li>Prima Lingua is usually taught as part of a world and classical language program in 5th and 6th grades.</li>
		<li>It is designed for students who will begin the formal study of a second language after this course.</li>
		<li>It is taught in schools across the United States - from Pennsylvania to Florida to Texas to California.</li>
		<li>Some schools offer Prima Lingua every day for two years, and some offer it twice a week for one year. The Prima Lingua team works with schools individually to adapt the program to their curricula.</li>
		<li>Prima Lingua has been used in classes as young as 4th grade and as old as 9th grade.</li>
		<li>Some schools offer this an alternative course for students who have a language exemption.</li>
		<li>Prima Lingua is used in support programs such as Steppingstone and Breakthrough to prepare students for entry into rigorous independent schools.</li>
	</ul>
</div>
<br class="clearFloat" />