<%= stylesheet_link_tag "about" %>
<%= render "layouts/about_nav" %>

<h1>Who is Prima Lingua for?</h1>
<p>
	<ul>
		<li>5th and 6th grade students who will begin their first formal study of a foreign language in 7th grade.</li>
		<li>Older students who are about to begin a foreign language study for the first time.</li>
		<li>Younger students whose schools offer foreign language study earlier. Contact Prima Lingua for more information about adapting Prima Lingua for younger students.</li>
		<li>Students who have been exempted from foreign language study. Prima Lingua provides these students with valuable preparation for high school English and all courses requiring writing skills.</li>
		<li>Can be taught as a one- or two-year course.</li>
	</ul>
</p>

<br class="clearFloat" />