<%= render "layouts/about_nav" %>

<h1>Contents</h1>
<div id="table_of_contents">
	<h3>Unit I......WHAT IS LANGUAGE?</h3>
	<ol>
		<li>Lesson 1- An Experimental Greeting, The First Languages</li>
		<li>Lesson 2- Animal Language</li>
		<li>Lesson 3- Communicating without Words</li>
	</ol>

	<h3>Unit II.....THE VARIETY OF LANGUAGES</h3>
	<ol>
		<li>Lesson 1- Importance of Speaking Other Languages</li>
		<li>Lesson 2- Your Personal Language History</li>
		<li>Lesson 3- Different Forms of Communication</li>
		<li>Lesson 4- Different Forms of Communication (continued)</li>
	</ol>

	<h3>Unit III....SPOKEN VS. WRITTEN</h3>
	<ol>
		<li>Lesson 1- The Development of Writing</li>
	</ol>

	<h3>Unit IV....LANGUAGE FAMILIES</h3>
	<ol>
		<li>Lesson 1- Languages of the World</li>
		<li>Lesson 2- Indo-European</li>
		<li>Lesson 3- Language Family Trees</li>
		<li>Lesson 4- The Romance Languages</li>
		<li>Lesson 5- The Romance Languages (continued)</li>
		<li>Lesson 6- The Influence of the Romans</li>
	</ol>

	<h3>Unit V.....NAMES</h3>
	<ol>
		<li>Lesson 1- Tradition of Names</li>
		<li>Lesson 2- Mythological Names</li>
		<li>Lesson 3- Using the New Names</li>
		<li>Lesson 4- Gender in Names</li>
		<li>Lesson 5- Understanding Foreign Names</li>
		<li>Lesson 6- Scientific Names</li>
	</ol>

	<h3>Unit VI.....NUMBERS AND WORD COMPARISONS</h3>
	<ol>
		<li>Lesson 1- Plural, Roman Numerals</li>
		<li>Lesson 2- Linguistic Sound Groups</li>
		<li>Lesson 3- Latin Numbers and Memorization</li>
		<li>Lesson 4- Linguistic Comparison of Numbers</li>
		<li>Lesson 5- Foreign Counting</li>
		<li>Lesson 6- Language in Math, Number Games</li>
	</ol>

	<h3>Unit VII....NOUNS AND ADJECTIVES</h3>
	<ol>
		<li>Lesson 1- Describing</li>
		<li>Lesson 2- Adjective Placement</li>
		<li>Lesson 3- Latin Nouns and Adjectives</li>
		<li>Lesson 4- Declensions</li>
		<li>Lesson 5- Agreement of Adjectives</li>
		<li>Lesson 6- Agreement Combinations</li>
	</ol>

	<h3>Unit VIII...DERIVATIVES</h3>
	<ol>
		<li>Lesson 1- Derivative Requirements</li>
		<li>Lesson 2- Finding Derivatives</li>
		<li>Lesson 3- Derivative Projects</li>
	</ol>

	<h3>Unit IX.....GREEK ORAL TRADITION</h3>
	<ol>
		<li>Lesson 1- Oral Tradition</li>
		<li>Lesson 2- Greek Alphabet</li>
		<li>Lesson 3- Transliteration</li>
		<li>Lesson 4- Meter</li>
	</ol>

	<h3>Unit X......NOUN AND VERB FUNCTIONS</h3>
	<ol>
		<li>Lesson 1- Transitive and Intransitive Verbs</li>
		<li>Lesson 2- Subjects and Direct Objects</li>
		<li>Lesson 3- Sentences</li>
		<li>Lesson 4- Inflections and Word Order</li>
		<li>Lesson 5- Nominative and Accusative Cases</li>
		<li>Lesson 6- Verb Inflections</li>
		<li>Lesson 7- Case, Number, Gender</li>
		<li>Lesson 8- Linking Verbs, Predicate Nominative</li>
	</ol>

	<h3>Unit XI.....PARTS OF SPEECH</h3>
	<ol>
		<li>Lesson 1- Vocabularies Change</li>
		<li>Lesson 2- Multicultural Language</li>
		<li>Lesson 3- Changing Functions of Words</li>
		<li>Lesson 4- A Common Characteristic of Languages</li>
		<li>Lesson 5- Parts of Speech</li>
		<li>Lesson 6- Suffixes on Parts of Speech</li>
		<li>Lesson 7- Parts of Speech Game</li>
		<li>Lesson 8- Parts of Speech Project</li>
	</ol>

	<h3>Unit XII....PRONOUNS</h3>
	<ol>
		<li>Lesson 1- Different Types of Pronouns</li>
		<li>Lesson 2- Subject and Object Forms of Pronouns</li>
		<li>Lesson 3- Conjugating with Pronouns</li>
		<li>Lesson 4- Foreign Language Pronouns</li>
		<li>Lesson 5- Common Pronoun Mistakes</li>
	</ol>

	<h3>Unit XIII...PREPOSITIONS</h3>
	<ol>
		<li>Lesson 1- Derivation of Preposition and the Prepositional Phrase</li>
		<li>Lesson 2- Identifying Prepositional Phrases</li>
		<li>Lesson 3- Latin Prepositions</li>
		<li>Lesson 4- Prepositions as Prefixes</li>
		<li>Lesson 5- Derivatives of Prepositions</li>
		<li>Lesson 6- Playing with Prepositions</li>
	</ol>

	<h3>Unit XIV....CONJUGATING</h3>
	<ol>
		<li>Lesson 1- Conjugating and the Infinitive</li>
		<li>Lesson 2- Person, Number, Tense</li>
		<li>Lesson 3- Conjugations</li>
		<li>Lesson 4- Concentration</li>
		<li>Lesson 5- Practicing with Verb Forms</li>
		<li>Lesson 6- Verb Activities</li>
	</ol>

	<h3>Unit XV.....COMMON IRREGULAR VERBS</h3>
	<ol>
		<li>Lesson 1- To Be or Not To Be</li>
		<li>Lesson 2- Checking Irregular Verbs</li>
	</ol>

	<h3>Unit XVI....PARTICIPLES</h3>
	<ol>
		<li>Lesson 1- Present Active and Past Passive</li>
		<li>Lesson 2- Verbs without Participles</li>
	</ol>

	<h3>Unit XVII...TENSES</h3>
	<ol>
		<li>Lesson 1- The Present</li>
		<li>Lesson 2- The Past</li>
		<li>Lesson 3- Helping Verbs, the Future</li>
		<li>Lesson 4- Identifying Verbs</li>
		<li>Lesson 5- Tense Project</li>
		<li>Lesson 6- Formulae</li>
		<li>Lesson 7- Using the Tenses</li>
		<li>Lesson 8- Time Line Stories</li>
	</ol>

	<h3>Unit XVIII..PRINCIPAL PARTS OF VERBS</h3>
	<ol>
		<li>Lesson 1- Finding Principal Parts</li>
		<li>Lesson 2- Irregular Principal Parts</li>
		<li>Lesson 3- Playing with Principal Parts</li>
		<li>Lesson 4- Writing Verb Tests</li>
	</ol>

	<h3>Unit XIX....INTERROGATIVES AND NEGATIVES</h3>
	<ol>
		<li>Lesson 1- The Interrogation</li>
		<li>Lesson 2- Inversion</li>
		<li>Lesson 3- The Mark of a Question</li>
		<li>Lesson 4- Negatives</li>
	</ol>

	<h3>Unit XX.....THE THREE TO'S</h3>
	<ol>
		<li>Lesson 1- The Indirect Object</li>
	</ol>

	<h3>Unit XXI....WORD BUILDING</h3>
	<ol>
		<li>Lesson 1- Prefixes and Suffixes</li>
	</ol>

	<h3>Appendix I: Projects</h3>
	<ol>
		<li>Tempus Fabulae</li>
		<li>Mythological Name Project - Personae</li>
		<li>Word Comparisons</li>
		<li>Archaeology</li>
		<li>Weekly Parts of Speech</li>
	</ol>

	<h3>Appendix II: Information sheets</h3>
	<ol>
		<li>Mythological Names</li>
		<li>Latin Names</li>
		<li>Ten Little Frogs</li>
		<li>Numbers in some other languages</li>
		<li>Greek Alphabet</li>
		<li>Transliterating Greek</li>
		<li>The Sirens</li>
		<li>The sirens passage from the odyssey in meter</li>
		<li>What Is the Part of Speech?</li>
		<li>Comparison of verb conjugations and use of personal pronouns</li>
		<li>Principal Parts</li>
	</ol>
</div>
<br class="clearFloat" />