<% content_for :head do %>
<%= stylesheet_link_tag "about" %>
<% end %> 

<%= render "layouts/about_nav" %>

<h1>What's in the workbook</h1>
<p>The teacher’s manual explains how to use the workbook contents and includes full lesson plans for every unit.</p>

<br /><br />

<p>Unit I......WHAT IS LANGUAGE?
Lesson 1- An Experimental Greeting, The First Languages
Lesson 2- Animal Language
Lesson 3- Communicating without Words

Unit II.....THE VARIETY OF LANGUAGES
Lesson 1- Importance of Speaking Other Languages
Lesson 2- Your Personal Language History
Lesson 3- Different Forms of Communication
Lesson 4- Different Forms of Communication (continued)

Unit III....SPOKEN VS. WRITTEN
Lesson 1- The Development of Writing

Unit IV....LANGUAGE FAMILIES
Lesson 1- Languages of the World
Lesson 2- Indo-European
Lesson 3- Language Family Trees
Lesson 4- The Romance Languages
Lesson 5- The Romance Languages (continued)
Lesson 6- The Influence of the Romans

Unit V.....NAMES
Lesson 1- Tradition of Names
Lesson 2- Mythological Names
Lesson 3- Using the New Names
Lesson 4- Gender in Names
Lesson 5- Understanding Foreign Names
Lesson 6- Scientific Names

Unit VI.....NUMBERS AND WORD COMPARISONS
Lesson 1- Plural, Roman Numerals
Lesson 2- Linguistic Sound Groups
Lesson 3- Latin Numbers and Memorization
Lesson 4- Linguistic Comparison of Numbers
Lesson 5- Foreign Counting
Lesson 6- Language in Math, Number Games

Unit VII....NOUNS AND ADJECTIVES
Lesson 1- Describing
Lesson 2- Adjective Placement
Lesson 3- Latin Nouns and Adjectives
Lesson 4- Declensions
Lesson 5- Agreement of Adjectives
Lesson 6- Agreement Combinations

Unit VIII...DERIVATIVES
Lesson 1- Derivative Requirements
Lesson 2- Finding Derivatives
Lesson 3- Derivative Projects

Unit IX.....GREEK ORAL TRADITION
Lesson 1- Oral Tradition
Lesson 2- Greek Alphabet
Lesson 3- Transliteration
Lesson 4- Meter

Unit X......NOUN AND VERB FUNCTIONS
Lesson 1- Transitive and Intransitive Verbs
Lesson 2- Subjects and Direct Objects
Lesson 3- Sentences
Lesson 4- Inflections and Word Order
Lesson 5- Nominative and Accusative Cases
Lesson 6- Verb Inflections
Lesson 7- Case, Number, Gender
Lesson 8- Linking Verbs, Predicate Nominative

Unit XI.....PARTS OF SPEECH
Lesson 1- Vocabularies Change
Lesson 2- Multicultural Language
Lesson 3- Changing Functions of Words
Lesson 4- A Common Characteristic of Languages
Lesson 5- Parts of Speech
Lesson 6- Suffixes on Parts of Speech
Lesson 7- Parts of Speech Game
Lesson 8- Parts of Speech Project

Unit XII....PRONOUNS
Lesson 1- Different Types of Pronouns
Lesson 2- Subject and Object Forms of Pronouns
Lesson 3- Conjugating with Pronouns
Lesson 4- Foreign Language Pronouns
Lesson 5- Common Pronoun Mistakes

Unit XIII...PREPOSITIONS
Lesson 1- Derivation of Preposition and the Prepositional Phrase
Lesson 2- Identifying Prepositional Phrases
Lesson 3- Latin Prepositions
Lesson 4- Prepositions as Prefixes
Lesson 5- Derivatives of Prepositions
Lesson 6- Playing with Prepositions

Unit XIV....CONJUGATING
Lesson 1- Conjugating and the Infinitive
Lesson 2- Person, Number, Tense
Lesson 3- Conjugations
Lesson 4- Concentration
Lesson 5- Practicing with Verb Forms
Lesson 6- Verb Activities

Unit XV.....COMMON IRREGULAR VERBS
Lesson 1- To Be or Not To Be
Lesson 2- Checking Irregular Verbs

Unit XVI....PARTICIPLES
Lesson 1- Present Active and Past Passive
Lesson 2- Verbs without Participles

Unit XVII...TENSES
Lesson 1- The Present
Lesson 2- The Past
Lesson 3- Helping Verbs, the Future
Lesson 4- Identifying Verbs
Lesson 5- Tense Project
Lesson 6- Formulae
Lesson 7- Using the Tenses
Lesson 8- Time Line Stories

Unit XVIII..PRINCIPAL PARTS OF VERBS
Lesson 1- Finding Principal Parts
Lesson 2- Irregular Principal Parts
Lesson 3- Playing with Principal Parts
Lesson 4- Writing Verb Tests

Unit XIX....INTERROGATIVES AND NEGATIVES
Lesson 1- The Interrogation
Lesson 2- Inversion
Lesson 3- The Mark of a Question
Lesson 4- Negatives

Unit XX.....THE THREE TO'S
Lesson 1- The Indirect Object

Unit XXI....WORD BUILDING
Lesson 1- Prefixes and Suffixes
</p>

<br class="clearFloat" />