<div class="mercury-snippet-panel">
  <div class="filter">
    <input class="filter focusable" type="text">
  </div>
  <ul>
    <li data-filter="snippet">
      <img alt="String Question" data-snippet="string_question" data-options="false" src="/images/workbook_templates/default-snippet.png"/>
      <h4>String Question</h4>
      <div class="description">Add a string (short text) question element to the lesson.</div>
    </li>
    <li data-filter="snippet">
      <img alt="Text Area Question" data-snippet="text_area_question" data-options="false" src="/images/workbook_templates/default-snippet.png"/>
      <h4>Text Area Question</h4>
      <div class="description">Add a text area question element to the lesson.</div>
    </li>
    <li data-filter="snippet">
      <img alt="Drawing Question" data-snippet="drawing_question" data-options="false" src="/images/workbook_templates/default-snippet.png"/>
      <h4>Drawing Question</h4>
      <div class="description">Add a drawing question element to the lesson.</div>
    </li>
    <li data-filter="snippet">
      <img alt="Checkbox Question" data-snippet="checkbox_question" data-options="false" src="/images/workbook_templates/default-snippet.png"/>
      <h4>Checkbox Question</h4>
      <div class="description">Add a checkbox question element to the lesson.</div>
    </li>
  </ul>
</div>