// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about_content {
	float: left;
	width: 610px;
}

#about_nav {
	width: 215px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 5px;
	float: left;
}
#about_nav h3 {
	position: relative;
	left: -60px;
	width: 225px;
	height: 48px;
	color: #FFF;
	font-weight: normal;
	text-shadow: 1px 1px 2px #163a67;
	padding: 7px 0px 0px 50px;
	margin: 0px;
	background: url(image-path('side_nav_header.gif')) no-repeat;
}
#about_nav ul {
	background-color: #F2E9F2;
	border-right: 1px solid #973f98;
	position: relative;
	left: -25px;
	width: 222px;
	padding-left: 0px;
	padding-bottom: 5px;
}
#about_nav ul:last-child {
	border-bottom: 1px solid #973f98;
}
#about_nav li {
	list-style: none;
	margin-bottom: 0px;
}
#about_nav li a {
	display: block;
    padding: 6px 14px;
    color: #000 !important;
	text-decoration: none;
}
#about_nav li a:hover {
	color: #FFF !important;
	text-shadow: none;
	background: url(image-path('nav_arrow.png')) no-repeat top right #973f98;
}