#windowed * {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body#windowed {
	height: 100%;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	background-color: #C0D6FA;
	text-align: center;
	min-width: 970px;
	line-height: 1.3em;
}
#windowed img {
	border: none;
}
#windowed p {
	padding-bottom: 10px;
	line-height: 1.4em;
}
#windowed h1 {
	color: #973f98;
	font-size: 2.4em;
	font-family: 'Trebuchet MS', Helvetica, Verdana, Arial, sans-serif;
}
#windowed h2 {
	color: #973f98;
	padding-top: 10px;
	font-size: 1.75em;
	line-height: 1.1em;
}
#windowed h3 {
	font-family: Helvetica, Lucida Sans Unicode, sans-serif;
	color: #333;
}
#windowed h1, #windowed h2, #windowed h3 {
	padding-top: 10px;
	margin-bottom: .7em;
}
#windowed h1.course_header {
	margin-bottom: .1em;
}
#windowed h3.course_subheader {
	margin-top: 0px;
	margin-bottom: 25px;
	font-style: italic;
	color: #555;
}
#windowed input, #windowed textarea {
	font-family: Helvetica, Lucida Sans Unicode, sans-serif;
	font-size: 1.2em;
	color: #333;
	padding: 3px;
}
#windowed input[type="submit"] {
	font-size: 1em;
}
#windowed span.input_hint {
	font-size: .7em;
	color: #666;
}
#windowed button {
	font-size: .5em;
}
#windowed select {
	font-size: 1em;
}
#windowed a {
	text-decoration: none;
}
#windowed a:link, #windowed a:visited, #windowed a:active {
	color:#FF6600;
}
#windowed a:hover {
	color:#FF6600;
	text-decoration: none;
}
#windowed a.invis {
	color: #FFF;
	text-decoration: none;
}
#windowed a.warning {
	color: #FF0000;
	text-decoration: none;
}
#windowed ul {
	padding-left: 2em;
	list-style-type: disc;
	list-style-position: inside;
}
#windowed ol {
	padding-left: 2em;
	list-style-position: inside;
}
#windowed li {
	margin-bottom: 0.5em;
}

#windowed hr {
	width: 95%;
	margin: 30px auto;
	color: #999;
}
#windowed fieldset {
	width: 50%;
	padding: 15px;
	margin: 0px auto;
	border: 1px dotted #CCC;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
br.clearFloat {
	clear: both;
}
p.flash_notice {
	border: 5px solid #476A34;
	color: #FFF; 
	background-color: #458B00; 
	padding: 5px; 
	margin-bottom: 20px; 
	text-align: center;
}
p.flash_error {
	border: 5px solid #CC1100;
	color: #FFF; 
	background-color: #FF6666; 
	padding: 5px; 
	margin-bottom: 20px; 
	text-align: center
}
.errorExplanation {
	margin: 0px auto;
	padding: 15px 20px;
	background-color: #FFFFAA;
}
.errorExplanation h2 {
	font-family: Helvetica, Lucida Sans Unicode, sans-serif;
	color: #666;
}
.fieldWithErrors {
	padding: 5px 8px;
	background-color: #FFFFAA;
}

.full_width {
	max-width: 100%;
}
.half_width {
	max-width: 50%;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}

/*	------------------- *
 *	General page layout *
 *	------------------- */
#header {
	width: 970px;
	height: 165px;
	margin: 0 auto;
	background: url(image-path('layout_head.gif')) no-repeat center;
}
#header_home_link {
	float: left;
	width: 530px;
	height: 150px;
	margin-left: 40px;
}
#login_student_btn {
	float: left;
	margin-left: 6px;
	margin-top: 50px;
}
#login_teacher_btn {
	float: left;
	margin-left: 10px;
	margin-top: 50px;
}
#header_frog {
	float: right;
	width: 222px;
	height: 113px;
	background: url(image-path('header_frog.gif')) no-repeat;
	border: 1px solid red;
}
#admin_nav {
	margin: 0px 5px 10px 0px;
	height: 1.6em;
	background-color: #973f98;
	font-size: 1.2em;
}
#admin_nav {
	font-family: 'Trebuchet MS', Helvetica, Verdana, Arial, sans-serif
}
#admin_nav ul {
	padding: 0px;
	margin: 0px;
}
#admin_nav li {
	float: left;
	list-style: none;
}
#admin_nav li a {
	display: block;
    padding: 6px 14px;
    color: #FFFFFF !important;
	text-decoration: none;
	text-shadow: 2px 2px 2px #973f98;
}
#admin_nav li a:hover {
	color: #973f98 !important;
	text-shadow: none;
	background-color: #FFF;
}

#body {
	width: 970px;
	padding: 0px auto;
	margin: 0px auto;
	text-align: left;
	background: url(image-path('wrapper.gif')) repeat-y;
}
#body_header {
	width: 970px;
	height: 35px;
	background: url(image-path('body_header.gif')) no-repeat;
}
.wrapper {
	padding: 0px 55px !important;
}
#body_footer {
	width: 970px;
	height: 38px;
	background: url(image-path('body_footer.gif')) no-repeat;
}
#footer {
	width: 905px;
	margin: 10px auto;
	background: #973f98;
	border: 1px solid white;
}
#footer h4 {
	color: #FFF;
	font-size: 1.2em;
	font-family: Helvetica, Lucida Sans Unicode, sans-serif;
}
#footer p {
	font-size: .9em;
	font-family: Helvetica, Lucida Sans Unicode, sans-serif;
	color: #FFF;
	text-align: left;
	line-height: 1.25em;
}
#footer p.tag_line {
	font-size: .9em;
	color: #f4f4f4;
	text-align: center;
}
#footer p.copyright {
	padding-top: 5px;
	text-align: center;
}
#footer p a {
	color: white !important;
	text-decoration: underline;	
}
#animat_links {
	float: left;
	width: 67%;
}
#linguazone {
	float: left;
	width: 50%;
}
#lz_camps {
	float: right;
	width: 50%;
}
#get_to_know_us {
	float: right;
	width: 30%;
	padding: 33px 2px 0px 5px;
}
#get_to_know_us a {
	color: #122d5d;
}

div#table_of_contents {
	float: left;
}
div#table_of_contents h3 {
	margin-top: 15px;
}
div#table_of_contents ol {
	list-style-type: none;
}